-- ðŸ“‚ MIGRACIÃ“N: Crear Tabla de AuditorÃ­a Inmutable (Audit Log) y Triggers
-- Copia y ejecuta este script en el editor SQL de tu Supabase Dashboard.

CREATE TABLE IF NOT EXISTS audit_logs (
  id             uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id       uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  usuario_id     uuid REFERENCES usuarios(id) ON DELETE SET NULL,
  accion         text NOT NULL, -- E.g. 'INSERT', 'UPDATE', 'DELETE'
  tabla_afectada text NOT NULL,
  registro_id    uuid,
  detalles       jsonb, -- Almacenar los datos cambiados en formato JSON
  created_date   timestamp with time zone DEFAULT now()
);

-- Habilitar Seguridad a Nivel de Fila (RLS)
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;

-- Crear polÃ­ticas para aislamiento multi-tenant
CREATE POLICY "Permitir lectura de logs para staff del hotel" ON audit_logs
  FOR SELECT TO authenticated USING (
    hotel_id = get_user_hotel_id()
  );

-- Prevenir inserciÃ³n manual o modificaciÃ³n (Inmutabilidad Estricta)
-- NOTA: Las inserciones se harÃ¡n a travÃ©s del TRIGGER ejecutado con permisos de DB,
-- por lo que no damos permisos de INSERT manual a los usuarios autenticados.

-- ==============================================================================
-- ðŸš€ IMPLEMENTACIÃ“N DE TRIGGERS AUTOMÃTICOS
-- ==============================================================================
-- FunciÃ³n genÃ©rica para registrar cambios automÃ¡ticamente
CREATE OR REPLACE FUNCTION log_table_changes()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  INSERT INTO audit_logs (hotel_id, usuario_id, accion, tabla_afectada, registro_id, detalles)
  VALUES (
    -- Si auth.uid() es nulo (ej. Cron Job / Backend), usar el hotel_id del registro afectado
    COALESCE(get_user_hotel_id(), COALESCE(NEW.hotel_id, OLD.hotel_id)),
    auth.uid(),
    TG_OP,
    TG_TABLE_NAME,
    COALESCE(NEW.id, OLD.id),
    jsonb_build_object(
      'old', row_to_json(OLD), 
      'new', row_to_json(NEW),
      'ejecutado_por', CASE WHEN auth.uid() IS NULL THEN 'Sistema/API' ELSE 'Usuario' END
    )
  );
  
  IF (TG_OP = 'DELETE') THEN
    RETURN OLD;
  ELSE
    RETURN NEW;
  END IF;
END;
$$;

-- Trigger para tabla Ventas
DROP TRIGGER IF EXISTS audit_ventas_trigger ON ventas;
CREATE TRIGGER audit_ventas_trigger
AFTER INSERT OR UPDATE OR DELETE ON ventas
FOR EACH ROW EXECUTE FUNCTION log_table_changes();

-- Trigger para tabla Reservas
DROP TRIGGER IF EXISTS audit_reservas_trigger ON reservas;
CREATE TRIGGER audit_reservas_trigger
AFTER INSERT OR UPDATE OR DELETE ON reservas
FOR EACH ROW EXECUTE FUNCTION log_table_changes();

-- Trigger para tabla Cierres de Caja
DROP TRIGGER IF EXISTS audit_cierres_trigger ON cierres_caja;
CREATE TRIGGER audit_cierres_trigger
AFTER INSERT OR UPDATE OR DELETE ON cierres_caja
FOR EACH ROW EXECUTE FUNCTION log_table_changes();
-- ðŸ“‚ MIGRACIÃ“N: Crear Tabla para Check-in Digital PÃºblico (pre-registro)
-- Copia y ejecuta este script en el editor SQL de tu Supabase Dashboard.

CREATE TABLE IF NOT EXISTS checkins_publicos (
  id                       uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id                 uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  huesped_nombre           text NOT NULL,
  huesped_dni              text NOT NULL,
  tipo_documento           text DEFAULT 'DNI',
  huesped_sexo             text DEFAULT 'no_especificado',
  huesped_fecha_nacimiento text,
  huesped_telefono         text,
  huesped_email            text,
  huesped_pais_residencia  text DEFAULT 'PerÃº',
  huesped_ciudad_residencia text,
  nacionalidad             text DEFAULT 'Peruana',
  motivo_viaje             text DEFAULT 'turismo',
  fecha_entrada            text NOT NULL,
  fecha_salida             text NOT NULL,
  num_adultos              integer DEFAULT 1,
  num_ninos                integer DEFAULT 0,
  tiene_menores            boolean DEFAULT false,
  tipo_relacion_menor      text DEFAULT 'padre',
  observaciones            text,
  created_date             timestamp with time zone DEFAULT now()
);

-- Habilitar RLS
ALTER TABLE checkins_publicos ENABLE ROW LEVEL SECURITY;

-- Permitir inserciÃ³n anÃ³nima (cualquier persona externa escaneando el QR puede registrarse)
CREATE POLICY "Permitir insercion publica anonima" ON checkins_publicos
  FOR INSERT TO anon WITH CHECK (true);

CREATE POLICY "Permitir insercion autenticada" ON checkins_publicos
  FOR INSERT TO authenticated WITH CHECK (true);

-- Permitir lectura Ãºnicamente para el staff autenticado del hotel
CREATE POLICY "Permitir lectura solo para staff" ON checkins_publicos
  FOR SELECT TO authenticated USING (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  );
-- ðŸš€ Supabase Realtime: Habilitar Tiempo Real en Tablas CrÃ­ticas
-- Ejecuta este script en el editor SQL de Supabase para permitir 
-- que la UI reciba actualizaciones instantÃ¡neas sin recargar la pÃ¡gina.

BEGIN;

-- Habilitar publicaciÃ³n para el esquema public (si no lo estÃ¡)
-- "supabase_realtime" es la publicaciÃ³n que lee el backend de realtime de Supabase
ALTER PUBLICATION supabase_realtime ADD TABLE habitaciones;
ALTER PUBLICATION supabase_realtime ADD TABLE reservas;
ALTER PUBLICATION supabase_realtime ADD TABLE ventas;
ALTER PUBLICATION supabase_realtime ADD TABLE checkins_publicos;
ALTER PUBLICATION supabase_realtime ADD TABLE ventas_pos;

COMMIT;

-- NOTA: Si alguna tabla ya estaba agregada a supabase_realtime, 
-- PostgreSQL arrojarÃ¡ un error de que ya existe en la publicaciÃ³n. 
-- Puedes ignorarlo o quitarla del script.
-- ============================================================
-- HARDENING: Row Level Security (RLS) Multi-tenant
-- ============================================================

-- 1. Eliminar polÃ­ticas permisivas previas
DROP POLICY IF EXISTS "allow_all_hoteles" ON hoteles;
DROP POLICY IF EXISTS "allow_all_habitaciones" ON habitaciones;
DROP POLICY IF EXISTS "allow_all_reservas" ON reservas;
DROP POLICY IF EXISTS "allow_all_ventas" ON ventas;
DROP POLICY IF EXISTS "allow_all_config_hotel" ON config_hotel;
DROP POLICY IF EXISTS "allow_all_servicios_extra" ON servicios_extra;
DROP POLICY IF EXISTS "allow_all_ventas_pos" ON ventas_pos;
DROP POLICY IF EXISTS "allow_all_codigos_desbloqueo" ON codigos_desbloqueo;
DROP POLICY IF EXISTS "allow_all_usuarios" ON usuarios;

-- 2. Asegurar que RLS estÃ© habilitado
ALTER TABLE hoteles ENABLE ROW LEVEL SECURITY;
ALTER TABLE habitaciones ENABLE ROW LEVEL SECURITY;
ALTER TABLE reservas ENABLE ROW LEVEL SECURITY;
ALTER TABLE ventas ENABLE ROW LEVEL SECURITY;
ALTER TABLE config_hotel ENABLE ROW LEVEL SECURITY;
ALTER TABLE servicios_extra ENABLE ROW LEVEL SECURITY;
ALTER TABLE ventas_pos ENABLE ROW LEVEL SECURITY;
ALTER TABLE codigos_desbloqueo ENABLE ROW LEVEL SECURITY;
ALTER TABLE usuarios ENABLE ROW LEVEL SECURITY;

-- 3. PolÃ­ticas para la tabla 'usuarios' (Perfil propio)
CREATE POLICY "usuarios_read_own" ON usuarios
  FOR SELECT TO authenticated
  USING (auth.uid() = id);

CREATE POLICY "usuarios_update_own" ON usuarios
  FOR UPDATE TO authenticated
  USING (auth.uid() = id)
  WITH CHECK (auth.uid() = id);

-- 4. PolÃ­ticas para la tabla 'hoteles'
-- Un usuario solo puede ver el hotel al que estÃ¡ asignado
CREATE POLICY "hoteles_tenant_isolation" ON hoteles
  FOR SELECT TO authenticated
  USING (
    id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- 5. PolÃ­ticas Multi-tenant (Aislamiento por hotel_id)
-- Aplicable a: habitaciones, reservas, ventas, config_hotel, servicios_extra, ventas_pos

-- habitaciones
CREATE POLICY "habitaciones_tenant_isolation" ON habitaciones
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- reservas
CREATE POLICY "reservas_tenant_isolation" ON reservas
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- ventas
CREATE POLICY "ventas_tenant_isolation" ON ventas
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- config_hotel
CREATE POLICY "config_hotel_tenant_isolation" ON config_hotel
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- servicios_extra
CREATE POLICY "servicios_extra_tenant_isolation" ON servicios_extra
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- ventas_pos
CREATE POLICY "ventas_pos_tenant_isolation" ON ventas_pos
  FOR ALL TO authenticated
  USING (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  )
  WITH CHECK (
    hotel_id IN (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
    OR 
    (SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer'
  );

-- 6. PolÃ­ticas para 'codigos_desbloqueo' (Solo desarrolladores pueden ver/crear, todos pueden usar?)
-- Por ahora restringido a desarrolladores para mayor seguridad
CREATE POLICY "codigos_dev_only" ON codigos_desbloqueo
  FOR ALL TO authenticated
  USING ((SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer')
  WITH CHECK ((SELECT role FROM usuarios WHERE id = auth.uid()) = 'developer');

-- 7. Actualizar Trigger para perfiles de usuario
-- Asegura que el rol y el hotel_id se guarden al registrarse
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO public.usuarios (id, email, full_name, role, hotel_id)
    VALUES (
        NEW.id,
        NEW.email,
        COALESCE(NEW.raw_user_meta_data->>'full_name', ''),
        COALESCE(NEW.raw_user_meta_data->>'role', 'recepcionista'),
        (NEW.raw_user_meta_data->>'hotel_id')::uuid
    );
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ==============================================================================
-- ðŸ›¡ï¸ SCRIPT DE SEGURIDAD MULTI-TENANT OPTIMIZADO (ROW LEVEL SECURITY)
-- ==============================================================================
-- Se ha optimizado la extracciÃ³n del hotel_id mediante una funciÃ³n STABLE.
-- Esto previene que PostgreSQL ejecute la consulta 'SELECT hotel_id FROM usuarios'
-- por cada fila de la tabla (solucionando el grave problema de N+1 de latencia).

-- 0. FunciÃ³n Optimizada (STABLE) para obtener el Hotel ID del usuario actual
CREATE OR REPLACE FUNCTION get_user_hotel_id()
RETURNS uuid
LANGUAGE sql
STABLE
SECURITY DEFINER
AS $$
  SELECT hotel_id FROM usuarios WHERE id = auth.uid();
$$;

-- 1. Habilitar RLS en todas las tablas transaccionales
ALTER TABLE habitaciones ENABLE ROW LEVEL SECURITY;
ALTER TABLE reservas ENABLE ROW LEVEL SECURITY;
ALTER TABLE ventas ENABLE ROW LEVEL SECURITY;
ALTER TABLE ventas_pos ENABLE ROW LEVEL SECURITY;
ALTER TABLE productos ENABLE ROW LEVEL SECURITY;
ALTER TABLE categorias_productos ENABLE ROW LEVEL SECURITY;
ALTER TABLE egresos ENABLE ROW LEVEL SECURITY;
ALTER TABLE cierres_caja ENABLE ROW LEVEL SECURITY;

-- 2. Eliminar polÃ­ticas antiguas si existen para evitar duplicados
DROP POLICY IF EXISTS "Aislamiento tenant habitaciones" ON habitaciones;
DROP POLICY IF EXISTS "Aislamiento tenant reservas" ON reservas;
DROP POLICY IF EXISTS "Aislamiento tenant ventas" ON ventas;
DROP POLICY IF EXISTS "Aislamiento tenant ventas pos" ON ventas_pos;
DROP POLICY IF EXISTS "Aislamiento tenant productos" ON productos;
DROP POLICY IF EXISTS "Aislamiento tenant categorias" ON categorias_productos;
DROP POLICY IF EXISTS "Aislamiento tenant egresos" ON egresos;
DROP POLICY IF EXISTS "Aislamiento tenant cierres_caja" ON cierres_caja;

-- 3. Crear las nuevas polÃ­ticas usando la funciÃ³n optimizada get_user_hotel_id()

CREATE POLICY "Aislamiento tenant habitaciones" ON habitaciones 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant reservas" ON reservas 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant ventas" ON ventas 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant ventas pos" ON ventas_pos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant productos" ON productos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant categorias" ON categorias_productos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant egresos" ON egresos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Aislamiento tenant cierres_caja" ON cierres_caja 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

-- 4. Usuarios y Hoteles
ALTER TABLE usuarios ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Usuarios ven su propio perfil" ON usuarios;
CREATE POLICY "Usuarios ven su propio perfil" ON usuarios 
FOR SELECT USING ( id = auth.uid() );

ALTER TABLE hoteles ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Ver hotel asignado" ON hoteles;
CREATE POLICY "Ver hotel asignado" ON hoteles 
FOR SELECT USING ( id = get_user_hotel_id() );

-- ==========================================
-- PMS JCAR LABS â€” ESQUEMA COMPLETO DE BASE DE DATOS
-- Copia todo este cÃ³digo y ejecÃºtalo en el SQL Editor de Supabase
-- ==========================================

-- 1. Habilitar la extensiÃ³n gen_random_uuid si no estÃ¡ activa
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- 2. Limpieza de tablas existentes para alineaciÃ³n total
DROP TABLE IF EXISTS productos CASCADE;
DROP TABLE IF EXISTS categorias_productos CASCADE;
DROP TABLE IF EXISTS ventas_pos CASCADE;
DROP TABLE IF EXISTS egresos CASCADE;
DROP TABLE IF EXISTS cierres_caja CASCADE;
DROP TABLE IF EXISTS reservas CASCADE;
DROP TABLE IF EXISTS ventas CASCADE;
DROP TABLE IF EXISTS habitaciones CASCADE;
DROP TABLE IF EXISTS usuarios CASCADE;
DROP TABLE IF EXISTS hoteles CASCADE;

-- 3. Tabla Hoteles
CREATE TABLE hoteles (
  id           uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  nombre       text NOT NULL,
  created_at   timestamp with time zone DEFAULT now(),
  created_date timestamp with time zone DEFAULT now()
);

-- 4. Tabla Usuarios
CREATE TABLE usuarios (
  id         uuid PRIMARY KEY, -- Enlazado con auth.users(id)
  email      text UNIQUE NOT NULL,
  full_name  text,
  role       text DEFAULT 'recepcionista',
  hotel_id   uuid REFERENCES hoteles(id) ON DELETE SET NULL,
  created_at timestamp with time zone DEFAULT now()
);

-- 5. Tabla Habitaciones
CREATE TABLE habitaciones (
  id           uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id     uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  numero       text NOT NULL,
  piso         text,
  tipo         text DEFAULT 'simple',
  estado       text DEFAULT 'disponible',
  precio       numeric DEFAULT 80,
  descripcion  text,
  created_date timestamp with time zone DEFAULT now(),
  UNIQUE(hotel_id, numero)
);

-- 6. Tabla Reservas (Alineada 100% con los campos del formulario React)
CREATE TABLE reservas (
  id                  uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id            uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  habitacion_id       uuid REFERENCES habitaciones(id) ON DELETE SET NULL,
  habitacion_numero   text,
  habitacion_tipo     text,
  huesped_nombre      text,
  huesped_dni         text,
  huesped_telefono    text,
  huesped_procedencia text,
  nacionalidad        text DEFAULT 'Peruana',
  motivo_viaje        text DEFAULT 'turismo',
  fecha_entrada       date,
  fecha_salida        date,
  noches              integer DEFAULT 1,
  precio_noche        numeric DEFAULT 0,
  total               numeric DEFAULT 0,
  num_adultos         integer DEFAULT 1,
  num_ninos           integer DEFAULT 0,
  observaciones       text,
  estado              text DEFAULT 'activa', -- 'pendiente', 'activa', 'finalizada', 'cancelada'
  numero_reserva      text,
  created_date        timestamp with time zone DEFAULT now()
);

-- 7. Tabla Ventas (Ingresos por hospedaje directos)
CREATE TABLE ventas (
  id                uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id          uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  habitacion_numero text,
  huesped_nombre    text,
  numero_ticket     text,
  metodo_pago       text DEFAULT 'efectivo',
  fecha_pago        timestamp with time zone DEFAULT now(),
  total             numeric NOT NULL,
  created_date      timestamp with time zone DEFAULT now()
);

-- 8. Tabla CategorÃ­as de Productos
CREATE TABLE categorias_productos (
  id           uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id     uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  nombre       text NOT NULL,
  created_date timestamp with time zone DEFAULT now(),
  UNIQUE(hotel_id, nombre)
);

-- 9. Tabla Productos (Minimarket)
CREATE TABLE productos (
  id            uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id      uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  categoria_id  uuid REFERENCES categorias_productos(id) ON DELETE SET NULL,
  nombre        text NOT NULL,
  precio_venta  numeric NOT NULL DEFAULT 0,
  stock         integer NOT NULL DEFAULT 0,
  activo        boolean DEFAULT true,
  created_date  timestamp with time zone DEFAULT now()
);

-- 10. Tabla Ventas POS (Punto de Venta Minimarket / Consumos)
CREATE TABLE ventas_pos (
  id                 uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id           uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  numero_ticket      text,
  tipo               text, -- 'solo_extras', 'solo_estadia', 'estadia_extras'
  habitacion_numero  text,
  huesped_nombre     text,
  huesped_dni        text,
  reserva_id         uuid REFERENCES reservas(id) ON DELETE SET NULL,
  items              jsonb DEFAULT '[]'::jsonb,
  subtotal_estadia   numeric DEFAULT 0,
  subtotal_extras    numeric DEFAULT 0,
  descuento          numeric DEFAULT 0,
  total              numeric DEFAULT 0,
  metodo_pago        text,
  estado_comprobante text,
  tipo_comprobante   text,
  ruc_cliente        text,
  razon_social       text,
  notas              text,
  fecha_venta        timestamp with time zone DEFAULT now(),
  created_date       timestamp with time zone DEFAULT now()
);

-- 11. Tabla Egresos (Caja chica / Gastos operativos)
CREATE TABLE egresos (
  id             uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id       uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  monto          numeric NOT NULL,
  concepto       text NOT NULL,
  categoria      text NOT NULL,
  fecha          timestamp with time zone DEFAULT now(),
  usuario_id     uuid REFERENCES usuarios(id) ON DELETE SET NULL,
  usuario_nombre text,
  created_date   timestamp with time zone DEFAULT now()
);

-- 12. Tabla Cierres de Caja
CREATE TABLE cierres_caja (
  id             uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id       uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  fecha          timestamp with time zone DEFAULT now(),
  total_ventas   numeric DEFAULT 0,
  total_egresos  numeric DEFAULT 0,
  saldo_final    numeric DEFAULT 0,
  usuario_id     uuid REFERENCES usuarios(id) ON DELETE SET NULL,
  usuario_nombre text,
  created_date   timestamp with time zone DEFAULT now()
);

-- 13. Insertar Hotel Demo por defecto
INSERT INTO hoteles (id, nombre) VALUES
('11111111-1111-1111-1111-111111111111', 'JCAR LABS Hotel Demo')
ON CONFLICT (id) DO NOTHING;
-- Crear tabla audit_logs
CREATE TABLE IF NOT EXISTS public.audit_logs (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    hotel_id UUID NOT NULL REFERENCES public.hoteles(id) ON DELETE CASCADE,
    usuario_id UUID,
    usuario_email TEXT,
    accion TEXT NOT NULL,
    descripcion TEXT,
    modulo TEXT,
    creado_en TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- PolÃ­ticas RLS para audit_logs
ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Solo lectura para admins del tenant" ON public.audit_logs
FOR SELECT USING (
    hotel_id = (SELECT get_user_hotel_id())
    AND (SELECT role FROM public.usuarios WHERE id = auth.uid()) = 'admin'
);

CREATE POLICY "Insertar para todos en el tenant" ON public.audit_logs
FOR INSERT WITH CHECK (
    hotel_id = (SELECT get_user_hotel_id())
);
-- ==========================================
-- PMS JCAR LABS
-- ActualizaciÃ³n para Ficha DIRCETUR
-- ==========================================

-- Agregar columnas necesarias para el registro de huÃ©spedes segÃºn DIRCETUR
ALTER TABLE reservas 
ADD COLUMN IF NOT EXISTS huesped_sexo text DEFAULT 'no_especificado',
ADD COLUMN IF NOT EXISTS huesped_pais_residencia text DEFAULT 'PerÃº',
ADD COLUMN IF NOT EXISTS huesped_ciudad_residencia text,
ADD COLUMN IF NOT EXISTS huesped_email text,
ADD COLUMN IF NOT EXISTS tipo_documento text DEFAULT 'DNI';
-- â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
-- MIGRACIÃ“N: ConfiguraciÃ³n de IGV en tabla `hoteles`
-- PMS JCAR LABS â€” Ejecutar en Supabase SQL Editor
-- â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

-- â”€â”€â”€ 1. AÃ‘ADIR CAMPO EN hoteles â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

ALTER TABLE hoteles
  ADD COLUMN IF NOT EXISTS aplica_igv boolean DEFAULT true;
-- ==========================================
-- PMS JCAR LABS â€” SPRINT 1
-- ActualizaciÃ³n para Ficha MINCETUR
-- ==========================================

-- Agregar columnas necesarias para el registro de huÃ©spedes segÃºn MINCETUR
ALTER TABLE reservas 
ADD COLUMN IF NOT EXISTS huesped_fecha_nacimiento date,
ADD COLUMN IF NOT EXISTS huesped_profesion text,
ADD COLUMN IF NOT EXISTS huesped_estado_civil text,
ADD COLUMN IF NOT EXISTS huesped_destino text;
-- ==============================================================================
-- PMS JCAR LABS â€” SPRINT 1
-- ActualizaciÃ³n de PolÃ­ticas de Seguridad (RBAC) para Recepcionistas
-- ==============================================================================

-- 1. FunciÃ³n para obtener el rol del usuario actual
CREATE OR REPLACE FUNCTION get_user_role()
RETURNS text
LANGUAGE sql
STABLE
SECURITY DEFINER
AS $$
  SELECT role FROM usuarios WHERE id = auth.uid();
$$;

-- 2. Modificar PolÃ­tica de DELETE en Reservas
-- Evita que los recepcionistas puedan borrar registros (DELETE),
-- obligÃ¡ndolos a usar la opciÃ³n de "Cancelar" (UPDATE estado='cancelada')
DROP POLICY IF EXISTS "Aislamiento tenant reservas" ON reservas;

CREATE POLICY "Ver e Insertar reservas tenant" ON reservas 
FOR SELECT USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Crear reservas tenant" ON reservas 
FOR INSERT WITH CHECK ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Actualizar reservas tenant" ON reservas 
FOR UPDATE USING ( hotel_id = get_user_hotel_id() );

-- Solo admin puede borrar registros duros
CREATE POLICY "Admin puede borrar reservas" ON reservas 
FOR DELETE USING ( hotel_id = get_user_hotel_id() AND get_user_role() = 'admin' );

-- 3. Modificar PolÃ­tica de DELETE en Ventas
-- Las ventas registradas no deberÃ­an poder ser borradas por recepcionistas para evitar descuadres de caja malintencionados.
DROP POLICY IF EXISTS "Aislamiento tenant ventas" ON ventas;

CREATE POLICY "Ver e Insertar ventas tenant" ON ventas 
FOR SELECT USING ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Crear ventas tenant" ON ventas 
FOR INSERT WITH CHECK ( hotel_id = get_user_hotel_id() );

CREATE POLICY "Actualizar ventas tenant" ON ventas 
FOR UPDATE USING ( hotel_id = get_user_hotel_id() AND get_user_role() = 'admin' );

CREATE POLICY "Admin puede borrar ventas" ON ventas 
FOR DELETE USING ( hotel_id = get_user_hotel_id() AND get_user_role() = 'admin' );
-- AÃ±adir columna para nÃºmero de Yape/Plin en la configuraciÃ³n del hotel (tabla: hoteles)
ALTER TABLE hoteles ADD COLUMN IF NOT EXISTS numero_yape TEXT;
-- ðŸ“‚ MIGRACIÃ“N: Crear Tabla para Sistema de Tarifas DinÃ¡micas
-- Copia y ejecuta este script en el editor SQL de tu Supabase Dashboard.

CREATE TABLE IF NOT EXISTS tarifas_dinamicas (
  id              uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id        uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  nombre          text NOT NULL,
  tipo            text NOT NULL, -- 'temporada' | 'dia_semana'
  fecha_inicio    text,          -- Formato 'yyyy-MM-dd' para temporadas
  fecha_fin       text,          -- Formato 'yyyy-MM-dd' para temporadas
  dias_semana     integer[],     -- Array de nÃºmeros (0: Dom, 1: Lun, ..., 6: SÃ¡b)
  habitacion_tipo text DEFAULT 'todos', -- 'simple', 'doble', 'matrimonial', 'todos'
  factor_ajuste   numeric NOT NULL DEFAULT 1.0, -- Multiplicador, ej: 1.15 para +15%
  created_date    timestamp with time zone DEFAULT now()
);

-- Habilitar RLS
ALTER TABLE tarifas_dinamicas ENABLE ROW LEVEL SECURITY;

-- Permitir lectura Ãºnicamente para el staff autenticado del hotel
CREATE POLICY "Permitir lectura solo para staff autenticado" ON tarifas_dinamicas
  FOR SELECT TO authenticated USING (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  );

-- Permitir inserciÃ³n, actualizaciÃ³n y eliminaciÃ³n al staff autenticado del hotel
CREATE POLICY "Permitir insercion para staff autenticado" ON tarifas_dinamicas
  FOR INSERT TO authenticated WITH CHECK (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  );

CREATE POLICY "Permitir actualizacion para staff autenticado" ON tarifas_dinamicas
  FOR UPDATE TO authenticated USING (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  ) WITH CHECK (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  );

CREATE POLICY "Permitir eliminacion para staff autenticado" ON tarifas_dinamicas
  FOR DELETE TO authenticated USING (
    hotel_id = (SELECT hotel_id FROM usuarios WHERE id = auth.uid())
  );
-- ðŸ“‚ MIGRACIÃ“N: Agregar Tipo de Cambio a la tabla de Hoteles
-- Ejecuta este script en el editor SQL de Supabase para habilitar soporte Multi-Moneda.

ALTER TABLE hoteles ADD COLUMN IF NOT EXISTS tipo_cambio numeric DEFAULT 3.80;
-- ==========================================
-- SCRIPT DE ACTUALIZACIÃ“N: INSUMOS (LIMPIEZA / MANTENIMIENTO)
-- Ejecutar en Supabase SQL Editor
-- ==========================================

-- 1. Crear tabla de categorÃ­as de insumos
CREATE TABLE IF NOT EXISTS categorias_insumos (
  id           uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id     uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  nombre       text NOT NULL,
  created_date timestamp with time zone DEFAULT now(),
  UNIQUE(hotel_id, nombre)
);

-- 2. Crear tabla de insumos
CREATE TABLE IF NOT EXISTS insumos (
  id            uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id      uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  categoria_id  uuid REFERENCES categorias_insumos(id) ON DELETE SET NULL,
  nombre        text NOT NULL,
  stock         integer NOT NULL DEFAULT 0,
  unidad_medida text DEFAULT 'unidad',
  activo        boolean DEFAULT true,
  created_date  timestamp with time zone DEFAULT now()
);

-- 3. Crear tabla de movimientos de insumos
CREATE TABLE IF NOT EXISTS movimientos_insumos (
  id             uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  hotel_id       uuid REFERENCES hoteles(id) ON DELETE CASCADE,
  insumo_id      uuid REFERENCES insumos(id) ON DELETE CASCADE,
  tipo_movimiento text NOT NULL, -- 'entrada', 'salida'
  cantidad       integer NOT NULL,
  costo_total    numeric DEFAULT 0, -- Costo de la compra (para Egresos)
  motivo         text,
  usuario_nombre text,
  created_date   timestamp with time zone DEFAULT now()
);

-- 4. Habilitar RLS
ALTER TABLE categorias_insumos ENABLE ROW LEVEL SECURITY;
ALTER TABLE insumos ENABLE ROW LEVEL SECURITY;
ALTER TABLE movimientos_insumos ENABLE ROW LEVEL SECURITY;

-- 5. Crear polÃ­ticas de aislamiento por tenant (hotel_id)
DROP POLICY IF EXISTS "Aislamiento tenant categorias_insumos" ON categorias_insumos;
CREATE POLICY "Aislamiento tenant categorias_insumos" ON categorias_insumos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

DROP POLICY IF EXISTS "Aislamiento tenant insumos" ON insumos;
CREATE POLICY "Aislamiento tenant insumos" ON insumos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );

DROP POLICY IF EXISTS "Aislamiento tenant movimientos_insumos" ON movimientos_insumos;
CREATE POLICY "Aislamiento tenant movimientos_insumos" ON movimientos_insumos 
FOR ALL USING ( hotel_id = get_user_hotel_id() );
